.weather__panel__content {
  height: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.weather__city {
  margin-top: 5px;
}

.weather__forecast {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.weather__block {
  display: flex;
  margin-right: 5px;
  font-weight: 200;
  padding: 0;
}

.weather__block__forecast {
  display: flex;
  margin-right: 5px;
  font-weight: 200;
  height: 15%;
  justify-content: space-between;
}

.weather__forecast__header {
  font-size: medium;
  text-align: center;
}

.weather__temp {
  margin: auto;
  font-size: small;
  font-weight: 200;
}

.weather__temp__big {
  margin: auto;
  font-size: larger;
  font-weight: 600;
}

.weather__date {
  margin: auto;
  font-weight: 200;
  font-size: small;
}

.weather__font__small {
  font-weight: 200;
  font-size: small;
}

.weather__input form {
  display: flex;
  width: 90%;
}

.weather__input form input[type="text"] {
  font-weight: 200;
  font-size: smaller;
  width: 100px;
}

.weather__input form input[type="submit"] {
  font-weight: 200;
  font-size: smaller;
  width: 100px;
}

@media (max-width: 768px) {
  .weather__panel__content {
    display: none;
  }
}